<!DOCTYPE html>
<html lang="en">
{%  load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>All Sensors</title>
</head>
<body>
<H1>Welcome!</H1>
    <textarea id="message-log" cols="100" rows="20"></textarea><br>

<script>
    const socket = new WebSocket('ws://'+ window.location.host + "/ws/")

        socket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            console.log(e.data)
            document.querySelector('#message-log').value += (data.message + '\n');
        };

        socket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };
</script>

{#t.className = t.className.replace(/\bbg-status-\d{1,10}\b/g,"bg-status-1");#}

</body>
</html>